# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.swp
.DS_Store
*.orig
README.html

*.log
*.pdf
*.tex


*.o

tmp/
*.tgz
*.zip

.venv/
!.venv/.gitkeep

lfw_data/

*.pkl

tutorial/

.DS_Store

demo/

rgbd-dataset/*
*.tar
